@{
    ViewData["Title"] = "Install";
}

<form asp-controller="Home" asp-action="Install" method="post">

    <input type="text" id="store" name="store" value="" />
   
    <button type="submit">Install</button>

</form>